html, body {
	height: 100%;
	margin: 0;
}

#map-canvas {
	height: 100%;
}

span#peopleGoing {
	font-size: 14px;
	padding-left: 5px;
}

span.glyphicon {
	padding-left: 5px;
}

.feedback {
	position: absolute;
	display: none;
	top: 20px;
	right: 20px;
	width: 300px;
}
